<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.isoft.mapping.User">
    <select id="userStatusAnalysis" resultType="map">
        select CASE `status` WHEN 1 THEN "激活" ELSE "未激活" END AS `status`, count(*) as count from user_info GROUP BY `status`
    </select>
    <select id="dirAnalysis" parameterType="string" resultType="map">
        select a.dir_name, b.dir_name as `name` from dir_inf a
        INNER JOIN dir_inf b on a.dir_id=b.parent_dir where a.dir_user_id=#{user_id}
    </select>
    <select id="LineAnalysis" resultType="map">
        SELECT file_name,downloadCount FROM file_inf
    </select>
    <select id="BarAnalysis" resultType="map">
        SELECT file_name,file_size FROM file_inf
    </select>
    <select id="RadarAnalysis" resultType="map">
        SELECT file_type FROM file_inf
    </select>
    <select id="login" parameterType="map" resultType="map">
        select * from user_info where username=#{uname} and password=#{upwd}
    </select>
    <insert id="register" parameterType="map">
    insert into user_info(username,`password`,email,register_time,status)
    values(#{uname},#{upwd},#{email},now(),0);
    update user_info set `status`=1 where username=#{uname};
    </insert>
    <select id="validateOldPwd" parameterType="map" resultType="map">
        select * from user_info where user_id=#{userid} and `password`=#{oldpwd}
    </select>
    <update id="updateOldPwd" parameterType="map">
        update user_info set `password`=#{newpwd} where user_id=#{userid}
    </update>
    <update id="updateUserPhoto" parameterType="map">
        update user_info set photo=#{photopath} where user_id=#{userid}
    </update>
    <select id="findUserInfoById" parameterType="string" resultType="map">
        select a.user_id,a.username,b.runame,b.gender,b.birthday,b.address,b.remark,b.telephone,a.photo,a.email from user_info a inner join user_detail_inf b on a.user_id=b.user_id where a.user_id=#{user_id}
    </select>
    <update id="updateUserInfo" parameterType="com.isoft.pojo.UserInfo">
        update user_detail_inf set runame=#{runame},gender=#{gender},birthday=#{birthday},address=#{address},telephone=#{telephone},remark=#{remark} where user_id=#{user_id}
    </update>
</mapper>